#loginContainer {
  header {
    padding: 48px 0 40px;
    width: 100%;
    display: flex;
    div {
      width: 100%;
      height: 39px;
    }
    .center-col {
      text-align: center;
      img {
        height: 39px;
      }
    }
    .right-col {
      display: flex;
      justify-content: flex-end;
      .join-text {
        text-align: right;
        font-size: 0.85em;
        padding-right: 40px;
        color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
        .join-btn {
          margin-top: 10px;
        }
      }
    } // right-col END
  }
  main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    .login-content {
      text-align: center;
      h1 {
        display: inline-block;
        width: 100%;
        font-weight: 700;
        font-size: 3rem;
        line-height: 46px;
        text-align: center;
        letter-spacing: -0.75px;
        margin-bottom: 10px;
      }
      .rectal-email {
        font-size: 1.3rem;
        line-height: 27px;
        margin-bottom: 50px;
        color: #454245;
        text-align: center;
      }
      .input-content {
        width: 400px;
        margin: 0 auto;
        .api-login-btns {
          .google-btn {
            width: 400px;
            height: 44px;
            margin: 24px auto 0;
            #Gbtn {
              font-size: 1.2em;
              font-weight: 700;
              width: 100%;
              border: 2px solid #5370f0;
              svg {
                margin-right: 12px;
                width: 18px;
                height: 18px;
              }
            }
          } // google-btn END
          .apple-btn {
            width: 400px;
            height: 44px;
            margin: 24px auto 0;
            #Abtn {
              font-size: 1.2em;
              font-weight: 700;
              width: 100%;
              border: 2px solid #000;
            }
            svg {
              margin-right: 12px;
              width: 18px;
              height: 18px;
            }
          } // apple-btn END
        } // ap-login-btns END
        .or-text {
          margin: 24px 0;
          display: flex;
          align-items: center;
          .bar {
            flex-grow: 1;
            margin: 0;
            border: none;
            border-top: 1px solid #ddd;
            clear: both;
          }
          .text-content {
            padding: 0 20px;
          }
        } // or-text END
        .email-input {
          #userEmail {
            padding: 11px 12px 13px;
            height: 44px;
            font-size: 18px;
            line-height: 1.33333333;
          }
          .live-text {
            text-align: left;
            margin: 0 0 15px;
          }
          #userPassword {
            padding: 11px 12px 13px;
            height: 44px;
            font-size: 18px;
            line-height: 1.33333333;
          }
          .regular_expression_pwd {
            text-align: left;
            font-size: 80%;
            color: #dc3545;
            margin: 0 0 20px;
          }
          #userPasswordSame {
            padding: 11px 12px 13px;
            height: 44px;
            font-size: 18px;
            line-height: 1.33333333;
            margin: 0 0 20px;
          }
          #userPhone {
            padding: 11px 12px 13px;
            height: 44px;
            font-size: 18px;
            line-height: 1.33333333;
            margin: 0 0 20px;
          }
        }
        .login-btn {
          #loginBtn {
            width: 100%;
            height: 44px;
            min-width: 96px;
            font-size: 18px;
            font-weight: 900;
            padding: 0 16px 3px;
            border: none;
            color: #fff;
            background-color: #4a154b;
          }
        }
        .join-btn-content {
          width: 100%;
          #JoinBtnGroup {
            width: 100%;
            height: 44px;
            #joinBtn {
              font-weight: 900;
              padding: 0 16px 3px;
              border: none;
              color: #fff;
              background-color: #4a154b;
            }
            #close {
              font-weight: 900;
              padding: 0 16px 3px;
              background-color: #eee;
              border: none;
            }
          }
        }
      } // input-content END
      .success {
        margin: 0 0 15px;
      }
    }
  }
}
